{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Login{% endblock %}</title>
        <script src="{% static 'js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" /></head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" /></head>
    <body>
      <div class="container container-fluid">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card border-0" id="login_card">
                <div class="card-header border-0 bg-transparent">
                  <h2 class="mb-0">Študijski informacijski sistem Studis</h2>
                </div>
                  <div class="card-body">
                    <form method='post' action='/'>
                      {% csrf_token %}
                        <div class="form-group">
                          <label for="InputEmail">Email address</label>
                          <input type="email" class="form-control login_input" name="email" id="InputEmailLogin" aria-describedby="emailHelp" placeholder="Enter your email" required>
                          <small id="emailHelp" class="form-text text-muted">Prijavite se s svojim Active Directory uporabniškim imenom in geslom. Študentje ste ju prejeli od Univerze v Ljubljani, zaposleni pa na fakulteti.</small>
                        </div>
                        <div class="form-group">
                          <label for="InputPassword1">Password</label>
                          <input type="password" class="form-control login_input" name="password" id="InputPasswordLogin" placeholder="Enter your password" required>
                        </div>
                        {% if messages %}
                          <ul class="messages">
                            {% for message in messages %}
                              <p class="alert-danger">{{ message }}</p>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                    </form>
                  <a href="/password_reset/">Pozabljeno geslo?</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>