{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Reset password{% endblock %}</title>
        <script src="{% static 'js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" /></head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" /></head>
    <body>
      <div class="container container-fluid">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card border-0" id="login_card">
                <div class="card-header border-0 bg-transparent">
                {% if validlink %}
                    <h2 class="mb-0">Poenostavi geslo</h2>
                    </div>
                    <div class="card-body">
                    <form method='post'>
                        {% csrf_token %}
                            <div class="form-group">
                                {{ form.new_password1.errors }}
                                <label for="InputPassword1">New Password</label>
                                <input type="password" class="form-control login_input" name="new_password1" placeholder="Enter your new password" required>
                            </div>

                            <div class="form-group">
                                {{ form.new_password2.errors }}
                                <label for="InputPassword2">Confirm Password</label>
                                <input type="password" class="form-control login_input" name="new_password2" placeholder="Confirm your new password" required>
                            </div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <p class="alert-danger">{{ message }}</p>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                    </form>
                    <a href="/">Pojdi na prijavo</a>
                    </div>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    <a href="/">Pojdi na prijavo</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>