{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Reset password{% endblock %}</title>
        <script src="{% static 'js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" /></head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" /></head>
    <body>
      <div class="container container-fluid">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card border-0" id="login_card">
                <div class="card-header border-0 bg-transparent">
                    <h4>Password reset email sent</h4>
                </div>
                <div class="card-body">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                <a href="/">Pojdi na prijavo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>