{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Reset password{% endblock %}</title>
        <script src="{% static 'js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" /></head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <body>
      <div class="container container-fluid">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card border-0" id="login_card">
                <div class="card-header border-0 bg-transparent">
                    <h4>Password reset complete</h4>
                </div>
                <div class="card-body">
                  <p>Your password has been set. You may go ahead and log in now.</p>
                <a href="/">Pojdi na prijavo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>