{% load static %}
{% load widget_tweaks %}
{% load rest_framework %}
{% load studis_extras %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Studis{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    {% block css  %}
    {% endblock %}

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Studis
                    </a>
                </li>
                <br>
                {% if user.is_authenticated %}
                    <li>
                            <a href="#">{{ user.email }} </a>
                    </li>
                    <li>
                            <a href="{% url 'logout' %}">Logout</a>
                    </li>

                    {% if request.user|has_group:"student" %} 
                        <li>
                                <a href="{% url 'acc_detail' %}">Moji podatki</a>
                        </li>
                        <li>
                            <a href="{% url 'subject_list' %}">Pregled predmetov</a>
                        </li>
                        <li>
                            <a href="{% url 'kartoteka_detail' %}?studijsko_leto=0&polaganja=0">Kartotečni list</a>
                        </li>
                        <li>
                            <a href="{% url 'indeks_detail' %}?">Elektronski Indeks</a>
                        </li>
                        <li>
                            <a href="{% url 'naroci_potrdilo' %}?studijsko_leto=0&polaganja=0">Naroči potrdilo o vpisu</a>
                        </li>
                    {% elif request.user|has_group:"profesor" %}
                        <li>
                                <a href="{% url 'student_list' %}">Seznam študentov</a>
                        </li>
                        <li>
                            <a href="{% url 'predmet_list' %}">Seznam predmetov</a>
                        </li>
                        <li>
                            <a href="{% url 'potrdi_vpis' %}">Seznam vpisov</a>
                        </li>
                    {% elif request.user|has_group:"referent" %}
                        <li>
                                <a href="{% url 'student_list' %}">Seznam študentov</a>
                        </li>
                        <li>
                            <a href="{% url 'predmet_list' %}">Seznam predmetov</a>
                        </li>
                        <li>
                            <a href="{% url 'potrdi_vpis' %}">Seznam vpisov</a>
                        </li>
                        <li>
                            <a href="{% url 'NarocenaPotrdila' %}">Naročena potrdila vpisov</a>
                        </li>
                    {% elif user.is_superuser %}
                        <li>
                                <a href="{% url 'student_list' %}">Seznam študentov</a>
                        </li>
                        <li>
                            <a href="{% url 'predmet_list' %}">Seznam predmetov</a>
                        </li>
                        <li>
                            <a href="{% url 'potrdi_vpis' %}">Seznam vpisov</a>
                        </li>
                    {% endif %}

                {% else %}
                    <li>
                            <a href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Page Content -->
        <div id="page-content-wrapper">
                <!-- <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!-- Menu Toggle Script -->
    <!-- <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->

</body>

</html>
