body {
     font-weight: 200;
     font-size: 14px;
 }
 .header {
     font-size: 20px;
     font-weight: 100;
     text-align: center;
     color: #007cae;
 }
 .title {
     font-size: 22px;
     font-weight: 100;
    /* text-align: right;*/
    padding: 10px 20px 0px 20px;
 }
 .title span {
     color: #007cae;
 }
 .details {
     padding: 10px 20px 0px 20px;
     text-align: left !important;
     /*margin-left: 40%;*/
 }
 .hrItem {
     border: none;
     height: 1px;
     /* Set the hr color */
     color: #333; /* old IE */
     background-color: #fff; /* Modern Browsers */
 }