{% extends 'base.html' %} {% block title %}Vpis{% endblock %} {% block content %} {% load rest_framework %}
{% load studis_extras %}
<h1 class="display-4" style="font-size: 48px;">Direkten vpis ocene </h1>
<hr>

<div class="container-fluid">
    <form method="post" role="form" id="vpis_form">
        {% csrf_token %}
        <br>
        <br><br>
        <br>
        <h1 class="display-4" style="font-size: 32px;">Podatki</h1>
        <hr>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {{ form.non_field_errors }}


            <div class="form-group row">
            {{ form.izprasevalec.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.izprasevalec|add_class:"form-control" }}
            </div>
        </div>
        {% if datum is None %}
            <div class="form-group row">
            {{ form.datum.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.datum|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.datum.errors}}
        </div>
        {% else %}
            <div class="form-group row">
            {{ form.datum.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.datum|add_readonly:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.datum.errors}}
        </div>
        {% endif %}


        <div class="form-group row">
            {{ form.ocena.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.ocena|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.ocena.errors}}
        </div>

        <div class="form-group row">
            {{ form.stPolaganja.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.stPolaganja|add_readonly:"form-control"}}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.stPolaganja.errors}}
        </div>

            <div class="form-group row">
            {{ form.stPolaganjaLetos.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label disabled" }}
            <div class="col-lg-5 col-sm-10 col-md-10 disabled">
                {{ form.stPolaganjaLetos|add_readonly:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.stPolaganjaLetos.errors}}
        </div>

        <div class="form-group row">
            <label class="col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label"></label>
            <div class="col-lg-5 col-sm-10 col-md-10">
                <td><a class="btn btn-primary" role="button" onclick="window.location.href ='/osebje/predmeti/{{ predmetid }}'">Nazaj</a></td>

                <input class="btn btn-primary" type="submit" value="Vpiši oceno" />

            </div>
        </div>
    </form>
</div>

{% endblock %}