{% extends 'base.html' %} {% load rest_framework %} {% load studis_extras %} {% block title %} Elektronski indeks {% endblock %} {% block content %}
<div class="container-fluid">
    <h1 class="display-4" style="font-size: 32px;">Elektronski indeks
        <br>
        <span style="font-size: 24px">{{ student.first_name }} {{ student.last_name }} ({{student.vpisna}})</span>
    </h1>

    <!-- <form method="get" class="form-inline">
        <div class="form-group">
            <select name="studijsko_leto" id="id_studijsko_leto" class="form-control mb-2 mr-sm-2">
                <option value="0" selected>Vsa študijska leta</option>
                <option value="1">2014/2015</option>
                <option value="2">2015/2016</option>
                <option value="3">2016/2017</option>
                <option value="4">2017/2018</option>
                <option value="5">2018/2019</option>
            </select>
        </div>
        <div class="form-group">
            <select name="polaganja" id="id_polaganja" class="form-control mb-2 mr-sm-2">
                <option value="0" selected>Vsa polaganja</option>
                <option value="1">Zadnja polaganja</option>
            </select>
        </div>
        <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj po študijskem letu</button>
        <div class="dropdown">
            <button class="btn btn-outline-secondary mb-2 mr-sm-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Izvozi v
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/osebje/indeks/pdf/{{ student.id }}?{% url_replace %}">Pdf</a>
                <a class="dropdown-item" href="/osebje/indeks/csv/{{ student.id }}?{% url_replace %}">Excel</a>
            </div>
        </div>
    </form> -->
    <div class="dropdown">
        <button class="btn btn-outline-secondary mb-2 mr-sm-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Izvozi v
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/osebje/indeks/pdf/{{ student.id }}?{% url_replace %}/$">Pdf</a>
            <a class="dropdown-item" href="/osebje/indeks/csv/{{ student.id }}?{% url_replace %}/$">Excel</a>
        </div>
    </div>
    <hr style="margin-top: 5px;"> 
    

    <div class="">
        <table class="table table-hover" style="width:100%; font-size: 0.9em;">
            <thead class="thead-dark">
                <tr>
                    <th style="width:4%">#</th>
                    <th>Šifra</th>
                    <th>Naziv predmeta</th>
                    <th>Ocenil</th>
                    <th>Datum</th>
                    <th>Opravljanje</th>
                    <th>ECTS</th>
                    <th>Ocena</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in izpiti %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ entry.izpit.predmet.predmet.sifra}}</td>
                    <td>{{ entry.izpit.predmet.predmet.naslov_predmeta}}</td>
                    <td>{{ entry.izpit.predmet.profesor.first_name}} {{ entry.izpit.predmet.profesor.last_name}}</td>
                    <td>{{ entry.izpit.datum|date:"d.m.Y"}}</td>
                    <td> {% with opr|index:forloop.counter0 as st %}
                        {{ st.stVseh }}
                    {% endwith %} </td>
                    <td>{{ entry.izpit.predmet.predmet.kreditne_tocke}}</td>
                    <td>{{ entry.ocena}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <h1 class="display-5" style="font-size: 24px;">Povprečne ocene po študijskih letih</h1>
    <hr>
    <div class="">
        <table class="table table-hover" style="width:100%; font-size: 0.9em;">
            <thead class="thead-dark">
                <tr>
                    <th style="width:4%">#</th>
                    <th>Študijsko leto</th>
                    <th>Število opravljenih izpitov</th>
                    <th>Kreditne točke</th>
                    <th>Skupno povprečje</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ entry.0.leto_vpisa.studijsko_leto}}</td>
                    <td>{{ entry.2|length}}</td>
                    <td>{{ entry.1.ECTS}}</td>
                    <td>{{ entry.1.avg}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <br>

    <br>
    <h1 class="display-5" style="font-size: 24px;">Skupna povprečna ocena</h1>
    <hr>
    <div class="">
        <table class="table table-hover" style="width:100%; font-size: 0.9em;">
            <thead class="thead-dark">
                <tr>
                    <th>Število opravljenih izpitov</th>
                    <th>Kreditne točke</th>
                    <th>Skupno povprečje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ globalOcena.len}}</td>
                    <td>{{ globalOcena.ECTS}}</td>
                    <td>{{ globalOcena.avg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %} 