{% extends 'base.html' %} {% load rest_framework %} {% load studis_extras %} {% block title %} Kartotečni list {% endblock %} {% block content %}
<div class="container-fluid">
    <h1 class="display-4" style="font-size: 32px;">Kartotečni list
        <br>
        <span style="font-size: 24px">{{ student.first_name }} {{ student.last_name }} ({{student.vpisna}})</span>
    </h1>

    <form method="get" class="form-inline">
        <div class="form-group">
            <select name="studijsko_leto" id="id_studijsko_leto" class="form-control mb-2 mr-sm-2">
                <option value="0" selected>Vsa študijska leta</option>
                <option value="1">2014/2015</option>
                <option value="2">2015/2016</option>
                <option value="3">2016/2017</option>
                <option value="4">2017/2018</option>
                <option value="5">2018/2019</option>
            </select>
        </div>
        <div class="form-group">
            <select name="polaganja" id="id_polaganja" class="form-control mb-2 mr-sm-2">
                <option value="0" selected>Vsa polaganja</option>
                <option value="1">Zadnja polaganja</option>
            </select>
        </div>
        <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj</button>
        <div class="dropdown">
            <button class="btn btn-outline-secondary mb-2 mr-sm-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Izvozi v
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/osebje/indeks1/pdf/{{ student.id }}?{% url_replace %}">Pdf</a>
                <a class="dropdown-item" href="/osebje/indeks1/csv/{{ student.id }}?{% url_replace %}">Excel</a>
            </div>
        </div>
    </form>
    <hr style="margin-top: 5px;"> 
    
    {% for entry in data %}

    <div class="row" style="">
        <p class="col-md-1" style="font-size: 16px; margin: 0 0;">Štud. leto:</p>
        <p class="col-md-2" style="font-size: 16px; margin: 0 0;">{{ entry.0.leto_vpisa }}</p>
        <p class="col-md-1" style="font-size: 16px; margin: 0 0;">Smer:</p>
        <p class="col-md-6" style="font-size: 16px; margin: 0 0;">{{entry.0.smer }}</p>
    </div>
    <div class="row" style="">
        <p class="col-md-1" style="font-size: 16px; margin: 0 0;">Letnik:</p>
        <p class="col-md-2" style="font-size: 16px; margin: 0 0;">{{entry.0.letnik }}</p>
        <p class="col-md-1" style="font-size: 16px; margin: 0 0;">Vrsta:</p>
        <p class="col-md-6" style="font-size: 16px; margin: 0 0;">{{entry.0.vrsta }}</p>
    </div>
    <div class="row" style="">
        <p class="col-md-1" style="font-size: 16px; margin: 0 0;">Način: </p>
        <p class="col-md-2" style="font-size: 16px; margin: 0 0;">{{entry.0.tip }}</p>
        <p class="col-md-1" style="font-size: 16px; margin: 0 0;">Skupina:</p>
        <p class="col-md-2" style="font-size: 16px; margin: 0 0;">LJUBLJANA</p>
    </div>
    <br>

    <div class="">
        <h1 class="display-4" style="font-size: 24px;">Pregled predmetov</h1>
        <table class="table table" style="width:100%; font-size: 0.9em;">
            <thead class="thead-dark">
                <tr>
                    <th style="width:4%">#</th>
                    <th>Šifra</th>
                    <th>Naziv predmeta</th>
                    <th>ECTS</th>
                    <th>Izpraševalec</th>
                    <th>Datum</th>
                    <th>Ocena</th>
                    <th>Št. polaganj</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in entry.1 %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ subject.0.sifra }}</td>
                    <td>{{ subject.0.naslov_predmeta }}</td>
                    <td>{{ subject.0.kreditne_tocke }}</td>
                    
                    <td colspan="4">
                    <table class="table table-sm borderless" style="margin: 0 0; padding: 0 0; width: 100%, font-size: 0.9em">
                        {% if polaganje == '0' %}
                            {% for izpit in subject.1 %}
                            <tr>
                                <td style="width:30%"> {{izpit.0.izpit.izprasevalec.first_name}} {{izpit.0.izpit.izprasevalec.last_name}}</td>
                                <td style="width:25%"> {{ izpit.0.izpit.datum|date:"d.m.Y"}}</td>
                                <td style="width:23%"> {% if izpit.0.ocena is not None %} 
                                    {{ izpit.0.ocena }}
                                {% endif %}</td>
                                <td> {{izpit.1}} - {{izpit.2}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            {% with subject.1|last as last %}
                            <tr> 
                            <td style="width:30%"> {{last.0.izpit.izprasevalec.first_name}} {{last.0.izpit.izprasevalec.last_name}}</td>
                            <td style="width:25%"> 
                            {{last.0.izpit.datum|date:"d.m.Y"}}</td>
                            <td style="width:23%">{{last.0.ocena}}</td>
                            <td style=""> {{last.1}} - {{last.2}} </td>
                            </tr>
                            {% endwith %}
                        {% endif %}
                    </table>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div style="">
        <div class="row">
            <p class="col-md-2" style="font-size: 16px; margin: 0 0;">Skupno število kreditnih točk:</p>
            <p class="col-md-10" style="font-size: 16px; margin: 0 0;">{{ entry.2.ECTS}}</p>
        </div>
        <div class="row">
            <p class="col-md-2" style="font-size: 16px; margin: 0 0;">Skupna povprečna ocena:</p>
            <p class="col-md-10" style="font-size: 16px; margin: 0 0;">{{ entry.2.avg }}</p>
        </div>
    </div>
    <hr>
    <br> {% endfor %}
</div>
{% endblock %}