{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Seznam naročil {% endblock %}
{% block content %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

<div class="container-fluid">
<br>
<h1 class="display-4" style="font-size: 32px;">Čakajoča naročila</h1>
<a class="btn btn-primary" style="margin-bottom: 2px" href="/osebje/narocila/seznam/">Prenesi seznam naročil</a>
<br>
<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Vpisna številka</th>
            <th>Študent</th>
            <th>Datum naročila</th>
            <TH>Število naročenih izvodov</TH>
            <th>Natisni</th>
        </tr>
    </thead>
    <tbody>
        {% for vpis in narocila %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ vpis.student.vpisna}}</td>
                    <td>{{ vpis.student.first_name}} {{ vpis.student.last_name}}</td>
                    <td>{{ vpis.datum_narocila|date:"d.m.Y" }}</td>
                    <td>{{ vpis.stevilo }}</td>
                    <td><a class="btn btn-primary" href="{{ vpis.student_id }}/?download=true"">Natisni</a></td>
                </tr>

        {% endfor %}
    </tbody>
</table>
<div>
    {% for error in errors %}
        <p class="danger">{{ error }}</p>
    {% endfor %}
</div>
</div>
{% endblock %}