{% extends 'base.html' %} {% block title %}Vpis{% endblock %} {% block content %} {% load rest_framework %}
{% load studis_extras %}
<h1 class="display-4" style="font-size: 48px;">Opozorilo </h1>
<hr>

{% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <td><a class="btn btn-primary" role="button" href="nazaj">Nazaj</a></td>
    {% if true %}<td><a class="btn btn-primary" role="button" href="potrdi">Zbrisi</a></td>{% endif %}

{% endblock %}