<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Potrdilo o vpisu</title>
         <style type="text/css">
             body {
                 font-weight: 20;
                 font-size: 14px;
                 font-family: Arial, Helvetica, sans-serif;
             }
             .header {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;

             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left !important;
                 /*margin-left: 40%;*/
             }
             .naslov{
                  padding: 5px 5px 0px 5px;
                 text-align: right !important;
                 font-size: 10px;

             }
             .section {
              float: left;
              margin: 0 1.5%;
              width: 63%;
            }
            .aside {
              float: right;
              margin: 0 1.5%;
              width: 30%;
            }
             @media print {
                h2 {page-break-before: always;}
            }
            @font-face {
                font-family: FreeSans;
                src: url("C:\3letnik\TPO\tpo-projekt\osebje\font\FreeSans.ttf")
                }

                body {
                font-family: Arial Narrow;
                }
         </style>
         <style>


    </style>
     </head>
     <body>
    {% for i in "xxxxxx" %}
        <img src="https://fri.uni-lj.si/sites/all/themes/fri_theme/images/fri_logo.png" class="header section" alt="fri" width="200" height="79">
     <div id="element2" class="naslov aside" >
         Večna pot 113<br>
        1000 LJUBLJANA, Slovenija<br>
         telefon:014798100<br>
         www.fri.uni-lj.si<br>
         dekanat@fri.uni-lj.si<br>
     </div>
        {% if forloop.counter == 1 %}
            <p align="right">Številka: {{ stevilka}}<br>
                Datum:{{ datum }}</p>
        {% elif forloop.counter == 2 %}
            <p align="right">Številka: {{ stevilka1}}<br>
                Datum:{{ datum }}</p>
        {% elif forloop.counter == 3 %}
            <p align="right">Številka: {{ stevilka2}}<br>
                Datum:{{ datum }}</p>
        {% elif forloop.counter == 4 %}
            <p align="right">Številka: {{ stevilka3}}<br>
                Datum:{{ datum }}</p>
        {% elif forloop.counter == 5 %}
            <p align="right">Številka: {{ stevilka4}}<br>
                Datum:{{ datum }}</p>
        {% elif forloop.counter == 6 %}
            <p align="right">Številka: {{ stevilka5}}<br>
                Datum:{{ datum }}</p>
        {% endif %}


    <br>
         <td class='details'>
             <td>{{ student }}</td><br/>
             <td>{{ ulica }}</td> <br/>
             <td>{{ posta }}</td> <br/>
        <br/>
        <br/>
        <br/>
        <br/>
         <div class='wrapper'>

                <h1 class="display-4" style="font-size: 16px;" align="center">Potrdilo o vpisu</h1>
         <div>
             <td>Vpisna : {{ vpisna }}</td><br/>
             <td>Priimek, ime : {{ priimekime }}</td><br/>
             <td>Datum rojstva : {{ datum_rojstva }}</td><br/>
             <td>Država rojstva : {{ drzava_rojsva }}</td><br/>
             <td>Študijsko leto : {{ studijsko_leto }}</td><br/>
             <td>Vrsta vpisa : {{ vrsta }}</td><br/>
             <td>Način in oblika študija : {{ nacin }}</td><br/>
             <td>Letnik/dodatno leto : {{ letnik }}</td><br/>
             <td>Študijski program: {{ smer }}</td><br/>
             <td>Vrsta in stopnja študija: 16204 Visokošolska univerzitetna izobrazba (prva bolonjska stopnja)</td><br/>

         </div>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <div align="right">
                 <td>prof. dr. Bojan Orel</td><br>
                 <td>dekan</td>
             </div>
     </div>
     </body>
        <h2></h2>
    {% endfor %}
 </html>