{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Seznam vpisov {% endblock %}
{% block content %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul> 
    {% endif %}

<div class="container-fluid">
<br>
<h1 class="display-4" style="font-size: 32px;">Vpisi študentov</h1>

<div>
    <form method="get" class="form-inline">
        <div class="form-group">
            {{ form.student__vpisna|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.student__first_name|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.student__last_name|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.potrjen|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj študente</button>
        <a class="btn btn-outline-primary mb-2 mr-sm-2" href="?">Poenostavi</a>
    </form>
</div>
<table class="table table-hover" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Študent</th>
            <TH>Letnik</TH>
            <th>Študijski program</th>
            <th>Vrsta vpisa</th>
            <th>Leto vpisa</th>
            <th>Način študija</th>
            <th>Potrdi</th>
        </tr>
    </thead>
    <tbody>
        {% for vpis in vpisi %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ vpis.student.first_name}} {{ vpis.student.last_name}} ({{vpis.student.vpisna}})</td>
                    <td>{{ vpis.letnik }}</td>
                    <td>{{ vpis.smer }}</td>
                    <td>{{ vpis.vrsta }}</td>
                    <td>{{ vpis.leto_vpisa }}</td>
                    <td>{{ vpis.tip }}</td>
                    {% if vpis.potrjen == False %}
                        <td>
                            <a class="btn btn-primary" href="{% url 'potrdifunkcija' vpis.id%}">Potrdi vpis</a>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn btn-primary" href="/osebje/potrdivpis/pdf/{{ vpis.id }}/?download=true">Natisni potrdilo o vpisu</a>
                        </td>
                    {% endif %}
                </tr>

        {% endfor %}
    </tbody>
</table>

<div class="">
    {% if vpisi.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if vpisi.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace page=vpisi.previous_page_number %}">Nazaj</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Nazaj</a>
            </li>
            {% endif %} {% for i in vpisi.paginator.page_range %} {% if vpisi.number == i %}
            <li class="page-item active">
                <a class="page-link"> {{ i }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
            </li>
            {% endif %} {% endfor %} {% if vpisi.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% url_replace page=vpisi.next_page_number %}">Naprej</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Naprej</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
</div>
{% endblock %}