{% extends 'base.html' %} {% load rest_framework %} {% load studis_extras %} {% load static %} {% block title %} Seznam mojih predmetov
{% endblock %} 
{% block content %}
<div>
    <h1 class="display-4" style="font-size: 48px;">Pregled predmeta {{ subject.0.predmet.naslov_predmeta}}</h1>
    <br>
    <h1 class="display-4" style="font-size: 28px;">Smer predmeta : {{subject.0.predmet.smer.ime}}</h1>
    <br>

    <table id="predmet_list_table" class="table table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th style="width: 1%">#</th>
                <th>Študijsko leto izvajanja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for leto in subject %}
            <tr>
                <td onclick="window.location.href ='/osebje/predmeti_details/{{leto.id}}'" style="cursor: pointer"> {{ forloop.counter }}</td>
                <td onclick="window.location.href ='/osebje/predmeti_details/{{leto.id}}'" style="cursor: pointer"> {{leto.studijsko_leto.studijsko_leto}}</td>
                <td>
                    Placeholder
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h1 class="display-4" style="font-size: 28px;">Razpisani izpitni roki za : {{subject.0.predmet.naslov_predmeta}}</h1>
    <br>
    <table id="predmet_list_table" class="table table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th style="width: 1%">#</th>
                <th>Letnik</th>
                <th>Izvajalec</th>
                <th>Datum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for leto in subject %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> Letnik</td>
                <td>
                    Izvajalec
                </td>
                <td>
                    Datum
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Možnosti
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Uredi</a>
                            <a class="dropdown-item" href="#">Zbriši</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}