{% extends 'base.html' %} {% load rest_framework %} {% load studis_extras %} {% load static %} {% block title %} Seznam mojih predmetov
{% endblock %} 
{% block content %}
<div>
    <h1 class="display-4" style="font-size: 48px;">Pregled predmetov</h1>
    <br>
    <form method="get" class="form-inline">
        <div class="form-group">
            {{ form.studijsko_leto|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.predmet|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.naslov_predmeta|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.predmet__sifra|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj predmete</button>
        <a class="btn btn-outline-primary mb-2 mr-sm-2" href="{% url 'predmet_list' %}">Poenostavi</a>
    </form>
    <table id="predmet_list_table" class="table table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th style="width: 1%">#</th>
                <th style="width: 22%">Naziv</th>
                <th>Šifra</th>
                <th>Smer</th>
                <th>Študijsko leto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td onclick="window.location.href ='/osebje/predmeti/{{ subject.id }}'" style="cursor: pointer"> {{ forloop.counter0|add:subjects.start_index}}</td>
                <td onclick="window.location.href ='/osebje/predmeti/{{ subject.id }}'" style="cursor: pointer"> {{subject.predmet.naslov_predmeta}}</td>
                <td onclick="window.location.href ='/osebje/predmeti/{{ subject.id }}'" style="cursor: pointer"> {{subject.predmet.sifra}}</td>
                <td onclick="window.location.href ='/osebje/predmeti/{{ subject.id }}'" style="cursor: pointer"> {{subject.predmet.smer}}</td>
                <td onclick="window.location.href ='/osebje/predmeti/{{ subject.id }}'" style="cursor: pointer"> {{subject.studijsko_leto.studijsko_leto}}</td>
                <td>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        {% if subjects.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if subjects.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=subjects.previous_page_number %}">Nazaj</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Nazaj</a>
                </li>
                {% endif %} {% for i in subjects.paginator.page_range %} {% if subjects.number == i %}
                <li class="page-item active">
                    <a class="page-link"> {{ i }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if subjects.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=subjects.next_page_number %}">Naprej</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Naprej</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock %}