{% extends 'base.html' %} {% load rest_framework %} {% load studis_extras %} {% load static %} {% block title %} Seznam mojih
predmetov {% endblock %} {% block content %}
<div>
    <h1 class="display-4" style="font-size: 48px;">Pregled vpisanih študentov v predmet</h1>
    <hr>
    <br>
    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Predmet : {{ subject.predmet.naslov_predmeta }} ({{subject.predmet.sifra}})</h1>
        <br>
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Nosilec predmeta :
            {% for nosilec in nosilci %}
                <br>
                <b>{{ nosilec.nosilec.first_name }} {{ nosilec.nosilec.last_name }}</b>

            {% endfor %}
        </h1>

        <br>
    </div>

    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Smer : {{subject.predmet.smer}}</h1>
        <br>
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Študijsko leto : {{subject.studijsko_leto}}</h1>
        <br>
    </div>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    <hr>
    <form method="get" class="form-inline">
        <div class="form-group">
            {{ form.vpisna|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.first_name|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <div class="form-group">
            {{ form.last_name|add_class:"form-control mb-2 mr-sm-2"}}
        </div>
        <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj študente</button>
        <a class="btn btn-outline-primary mb-2 mr-sm-2" href="?">Poenostavi</a>
        <div class="dropdown">
            <button class="btn btn-outline-secondary mb-2 mr-sm-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Izvozi v
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/osebje/predmeti/pdf/{{ subject.id }}">Pdf</a>
                <a class="dropdown-item" href="/osebje/predmeti/csv/{{ subject.id }}">Excel</a>
            </div>
        </div>
    </form>
    <table id="student_list_table" class="table table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 15%">Vpisna številka</th>
                <th style="width: 20%">Ime in Priimek</th>
                <th style="width: 20%">E-mail</th>
                <th style="width: 40%">Vrsta vpisa</th>
                <th style="width: 40%">Vpis ocene</th>
                <!-- <th> </th> -->
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td onclick="window.location.href ='/osebje/students/{{ student.id }}'" style="cursor: pointer">{{ forloop.counter0|add:students.start_index}}</td>
                <td onclick="window.location.href ='/osebje/students/{{ student.id }}'" style="cursor: pointer">{{ student.vpisna }}</td>
                <td onclick="window.location.href ='/osebje/students/{{ student.id }}'" style="cursor: pointer">{{ student.first_name }} {{ student.last_name }}</td>
                <td onclick="window.location.href ='/osebje/students/{{ student.id }}'" style="cursor: pointer">{{ student.email }}</td>
                <td onclick="window.location.href ='/osebje/students/{{ student.id }}'" style="cursor: pointer">{% if student.vpis_set.last.leto_vpisa == subject.studijsko_leto %}{{ student.vpis_set.last.vrsta }}{% endif %}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary mb-2 mr-sm-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Možnosti
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/osebje/students/csv/{{ student.id }}">Izvozi v Excel</a>
                            <a class="dropdown-item" href="/osebje/students/pdf/{{ student.id }}/?download=true">Izvozi v pdf</a>
                            <a class="dropdown-item" href="vpisioceno/{{ student.id }}">Vpisi oceno</a>
                        </div>
                    </div>
                </td>

                <!-- <td>Placeholder</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        {% if students.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if students.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=students.previous_page_number %}">Nazaj</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Nazaj</a>
                </li>
                {% endif %} {% for i in students.paginator.page_range %} {% if students.number == i %}
                <li class="page-item active">
                    <a class="page-link"> {{ i }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if students.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=students.next_page_number %}">Naprej</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Naprej</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    <!-- IZPITNI ROKI -->
<hr>
    <br>
    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Pregled izpitnih rokov</h1>
        <br>
    </div>

    <a class="btn btn-success" data-id="{{ subject.id }}" data-toggle="modal" data-target="#add_rok_modal" role="button" href="">Dodaj izpitni rok</a>

    <hr>
    <table id="student_list_table" class="table table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 15%">Izprasevalec</th>
                <th style="width: 20%">Datum</th>
                <th style="width: 20%">Izredni rok</th>
                <th style="width: 20%">Vpis rezultatov</th>
                <th style="width: 20%">Seznam prijavljenih</th>
                <th style="width: 20%">Spremeni izpit</th>
                <th style="width: 20%">Izbrisi</th>
            </tr>
        </thead>
        <tbody>
            {% for datum, izpit in izpiti %}
            <tr>
                <td style="cursor: pointer">{{ forloop.counter}}</td>
                <td style="cursor: pointer">({{izpit.izprasevalec.sifra }}) {{ izpit.izprasevalec.first_name }} {{ izpit.izprasevalec.last_name }}</td>
                <td style="cursor: pointer">{{ izpit.datum|date:"d.m.Y" }}</td>
                {% if izpit.izredni %}
                    <td style="cursor: pointer">DA</td>
                {% else %}
                    <td style="cursor: pointer">NE</td>
                {% endif %}
                <td><a class="btn btn-success" role="button" href="{{ izpit.id }}/seznamPrijavljenih">Vpis rezultatov</a></td>
                <td><a class="btn btn-primary" role="button" href="{{ izpit.id }}/seznamPrijavljenihIzpis">Seznam prijavljenih</a></td>
                <td><a class="btn btn-primary" role="button" href="spremeni/{{ izpit.id }}">Spremeni izpit</a></td>
                <td><a class="btn btn-primary" role="button" href="izbrisi/{{ izpit.id }}">Izbrisi izpit</a></td>
                <!-- <td>Placeholder</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <div class="modal fade" id="add_rok_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-4" style="font-size: 32px;">Dodaj izpitni rok</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--  ošlji post metodo prek form-a ampak obdrži query parametre -> url_replace -->
                    <form method="post" id="add_rok_form" action="{% url 'add_izpit' subject.id %}" enctype="multipart/form-data">
                        {% csrf_token %} {% for field in izpit_form %}
                        <div class="form-group">
                            <label for="{{ field.name }}">{{ field.label_tag }}</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                        {% endfor %}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Dodaj" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zapri</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rok_modal_response_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Uspeh!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Izpitni rok je bil uspešno dodan.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rok_modal_response_failure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Napaka!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Pri ustvarjanju izpitnega roka je prišlo do napake.
                    <p id="add_rok_error_msg"> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}