{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Pregled dodanih študentov {% endblock %}

{% block content %}
<div class="">
        
    <h1 class="display-4" style="font-size: 48px;">Pregled dodanih študentov</h1>
    <h4>Število novo dodanih študentov : {{ students.paginator.count }} </h4>
    <br>
    <div>
        <table class="table table-hover" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 1%">#</th>
                    <th>Ime</th>
                    <th>Priimek</th>
                    <th>Osebni e-mail naslov</th>
                    <th>Generirana vpisna številka</th>
                    <th>Generiran e-mail naslov</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students  %}
                <tr onclick="window.location.href ='/osebje/students/{{ student.id }}'" style="cursor: pointer">
                    <td>{{ forloop.counter0|add:students.start_index}}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.osebni_email }} </td>
                    <td>{{ student.vpisna }}</td>
                    <td>{{ student.email }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="">
        {% if students.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if students.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=students.previous_page_number %}">Nazaj</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Nazaj</a>
                </li>
                {% endif %}
                {% for i in students.paginator.page_range %}
                    {% if students.number == i %}
                        <li class="page-item active">
                            <a class="page-link"> {{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if students.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% url_replace page=students.next_page_number %}">Naprej</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Naprej</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}