{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Seznam prijavljenih {% endblock %}
{% block content %}

    <h1 class="display-4" style="font-size: 48px;">Seznam prijavljenih študentov na izpit</h1>
    <hr>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Predmet : {{ predmet }} ({{predmet.predmet.sifra}})</h1>
        <br>
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Nosilec predmeta :
            {% for nosilec in nosilci %}
                <br>
                <b>{{ nosilec.nosilec.first_name }} {{ nosilec.nosilec.last_name }}</b>

            {% endfor %}
        </h1>

        <br>
    </div>

    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Smer : {{predmet.predmet.smer}}</h1>
        <br>
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Študijsko leto : {{predmet.studijsko_leto}}</h1>
        <br>
    </div>

    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Datum izpita : {{ izpit.datum|date:"d.m.Y" }}</h1>
        <br>
    </div>

<hr>
<br>
    <div>
        <form method="get" class="form-inline">
            <div class="form-group">
                {{ form.student__vpisna|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.student__first_name|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.student__last_name|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj študente</button>
            <a class="btn btn-outline-primary mb-2 mr-sm-2" href="?">Poenostavi</a>
        </form>
    </div>

    <form action="/osebje/predmeti/{{ predmet.id }}/{{ izpit.id }}/seznamPrijavljenih/" method="post">
        {% csrf_token %}

        <table id="student_list_table" class="table table-hover" style="width:100%">
            {{ form_test.management_form }}

            {% for form in form_test.forms %}
                {% if forloop.first %}
                    <thead class="thead-dark">

                    <tr>
                        <th style="width: 5%">#</th>
                        <th style="width: 10%">Vpisna številka</th>
                        <th style="width: 10%">Ime</th>
                        <th style="width: 10%">Priimek</th>
                        <th style="width: 21%">E-mail</th>
                        {% for field in form.visible_fields %}
                            {% if field.name != "DELETE" and field.name != "student" and field.name != "status" %}
                                <th style="width: 10%">{{ field.label|capfirst }}</th>
                            {% endif %}
                        {% endfor %}
                    <th style="width: 13%">Vrnil prijavo</th>
                        {% if prikaz == False %}
                    <th style="width: 10%">Odjavi</th>
        {% endif %}
                    <th></th>
                    </tr>
                    </thead>
                {% endif %}
            {% endfor %}
            {% for evidenca in prijaljeni_izpit %}

                {% if evidenca.status == True %}
                <tr>

                    <td>{{ forloop.counter0|add:prijaljeni_izpit.start_index}}</td>
                    <td>{{ evidenca.student.vpisna }}</td>
                    <td>{{ evidenca.student.first_name }}</td>
                    <td>{{ evidenca.student.last_name }}</td>
                    <td>
                        <select name="evidenca_izpit_set-{{ forloop.counter0 }}-student" id="id_evidenca_izpit_set-{{ forloop.counter0 }}-student" >
                          <option value="{{ evidenca.student.id }}" selected="">{{ evidenca.student }}</option>
                        </select>
                    </td>

                    <td>
                        <div class="form-group row">
                            <div class="col-xs-2">
                                <input type="number" name="evidenca_izpit_set-{{ forloop.counter0 }}-tocke" min="0" max="100" id="id_evidenca_izpit_set-{{ forloop.counter0 }}-tocke" class="form-control" value="{{ evidenca.tocke }}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                                <div class="col-xs-2">
                                    <input type="number" name="evidenca_izpit_set-{{ forloop.counter0 }}-ocena_pisni" min="1" max="10" id="id_evidenca_izpit_set-{{ forloop.counter0 }}-ocena_pisni" class="form-control" value="{{ evidenca.ocena_pisni }}">
                                </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group row">
                            <div class="col-xs-2">
                                <input type="number" name="evidenca_izpit_set-{{ forloop.counter0 }}-ocena" min="1" max="10" id="id_evidenca_izpit_set-{{ forloop.counter0 }}-ocena" class="form-control" value="{{ evidenca.ocena }}">
                            </div>
                        </div>
                    </td>
                    {% if evidenca.status is True %}
                        <td>
                            <select name="evidenca_izpit_set-{{ forloop.counter0 }}-status" id="id_evidenca_izpit_set-{{ forloop.counter0 }}-status" class="form-control">
                              <option value="False">Vrnil</option>
                              <option value="True" selected="">Ni vrnil</option>
                            </select>
                        </td>
                    {% else %}
                        <td>
                            <select name="evidenca_izpit_set-{{ forloop.counter0 }}-status" id="id_evidenca_izpit_set-{{ forloop.counter0 }}-status" class="form-control">
                              <option value="False" selected="">Vrnil</option>
                              <option value="True">Ni vrnil</option>
                            </select>
                        </td>
                    {% endif %}
                    {% if prikaz == False %}
                    {% if evidenca.ocena or evidenca.tocke or evidenca.ocena_pisni is not None %}
                            <td><a class="btn btn-primary disabled" role="button" href="odjavi/{{ evidenca.id }}">Odjavi</a></td>
                        {% else %}
                            <td><a class="btn btn-primary" role="button" href="odjavi/{{ evidenca.id }}">Odjavi</a></td>
                        {% endif %}
                {% endif %}


                </tr>
                {% endif %}
        {% endfor %}

        </table>
        <input class="btn btn-success" type="submit" value="Dodaj" />    </form>
    <div class="">
        {% if prijaljeni_izpit.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if prijaljeni_izpit.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=prijaljeni_izpit.previous_page_number %}">Nazaj</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Nazaj</a>
                </li>
                {% endif %} {% for i in prijaljeni_izpit.paginator.page_range %} {% if prijaljeni_izpit.number == i %}
                <li class="page-item active">
                    <a class="page-link"> {{ i }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if prijaljeni_izpit.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=prijaljeni_izpit.next_page_number %}">Naprej</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Naprej</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <table id="student_list_table" class="table table-hover" style="width:100%">

    </table>
    {% if prikaz == False %}
    <h4 class="display-4" style="font-size: 30px;">Seznam neprijavljenih študentov na izpit</h4>
    <table id="neprijavljeni" class="table table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Vpisna številka</th>
                <th>Ime</th>
                <th>Priimek</th>
                <th>E-mail</th>
                <th>Prijavi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in neprijavljeni %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.vpisna }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email}}</td>
                    <td><a class="btn btn-primary" role="button" href="prijavi/{{ student.id }}">Prijavi</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        {% if prijaljeni_izpit.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if prijaljeni_izpit.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=prijaljeni_izpit.previous_page_number %}">Nazaj</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Nazaj</a>
                </li>
                {% endif %} {% for i in prijaljeni_izpit.paginator.page_range %} {% if prijaljeni_izpit.number == i %}
                <li class="page-item active">
                    <a class="page-link"> {{ i }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if prijaljeni_izpit.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=prijaljeni_izpit.next_page_number %}">Naprej</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Naprej</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}