{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Seznam prijavljenih {% endblock %}
{% block content %}

    <h1 class="display-4" style="font-size: 48px;">Seznam prijavljenih študentov na izpit</h1>
    <hr>
    <br>
    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Predmet : {{ predmet }} ({{predmet.predmet.sifra}})</h1>
        <br>
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Izspraševalec : {{predmet.profesor.first_name}} {{predmet.profesor.last_name}}</h1>
        <br>
    </div>

    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Smer : {{predmet.predmet.smer}}</h1>
        <br>
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Študijsko leto : {{predmet.studijsko_leto}}</h1>
        <br>
    </div>

    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Datum izpita : {{ izpit.datum|date:"d.m.Y" }}</h1>
        <br>
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Ura izpita : {{ izpit.cas|time:'H:i' }}</h1>
        <br>
    </div>
    <div class="row" style="padding-left: 14px">
        <h1 class="display-4 col-md-4" style="font-size: 28px;">Prostor izpita : {{ izpit.prostor }}</h1>
        <br>
    </div>

<hr>
<br>
    <div>
        <form method="get" class="form-inline">
            <div class="form-group">
                {{ form.student__vpisna|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.student__first_name|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.student__last_name|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj študente</button>
            <a class="btn btn-outline-primary mb-2 mr-sm-2" href="?">Poenostavi</a>
            <div class="dropdown">
                <button class="btn btn-outline-secondary mb-2 mr-sm-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Izvozi v
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/osebje/predmeti/{{ predmet.id }}/{{ izpit.id }}/seznamPrijavljenihIzpis/pdf">Pdf</a>
                    <a class="dropdown-item" href="/osebje/predmeti/{{ predmet.id }}/{{ izpit.id }}/seznamPrijavljenihIzpis/csv">Excel</a>
                </div>
            </div>
        </form>
    </div>

    <table id="student_list_table" class="table table-hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 10%">Vpisna številka</th>
                <th style="width: 15%">Ime</th>
                <th style="width: 15%">Priimek</th>
                <th style="width: 20%">Študijsko leto</th>
                <th style="width: 15%">Zap. št. polaganja skupaj</th>
                <th style="width: 15%">Zap. št. polaganja letos</th>
                <th style="width: 5%">Točke</th>
                <th style="width: 15%">Končna ocena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for evidenca in prijaljeni_izpit %}
                {% csrf_token %}
                <tr>
                    <td>{{ forloop.counter0|add:prijaljeni_izpit.start_index}}</td>
                    <td>{{ evidenca.student.vpisna }}</td>
                    <td>{{ evidenca.student.first_name }}</td>
                    <td>{{ evidenca.student.last_name }}</td>
                    <td>{{predmet.studijsko_leto}}</td>
                    {% if ponavljanja_pon_1.pop == 0 %}
                        <td>{{ polaganja.pop }}</td>
                    {% else %}
                        <td>{{ polaganja.pop }} - {{ polaganja_pon.pop }}</td>
                    {% endif %}
                    <td>{{ polaganja_letos.pop }}</td>

                        {% if evidenca.status is True %}
                            {% if evidenca.tocke is not None%}
                                <td>
                                    <p>{{ evidenca.tocke }}</p>
                                </td>
                            {% else %}
                                <td>
                                    <p>/</p>
                                </td>
                            {%endif%}
                            {% if evidenca.ocena is not None%}
                                <td>
                                    <p>{{ evidenca.ocena }}</p>
                                </td>
                            {% else %}
                                <td>
                                    <p>/</p>
                                </td>
                            {%endif%}
                        {% else %}
                        {% if evidenca.tocke is not None%}
                            <td>
                                <p>{{ evidenca.tocke }}</p>
                            </td>
                        {% else %}
                            <td>
                                <p>/</p>
                            </td>
                        {%endif%}
                            <td>
                                <p>VP</p>
                            </td>
                        {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        {% if prijaljeni_izpit.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if prijaljeni_izpit.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=prijaljeni_izpit.previous_page_number %}">Nazaj</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Nazaj</a>
                </li>
                {% endif %} {% for i in prijaljeni_izpit.paginator.page_range %} {% if prijaljeni_izpit.number == i %}
                <li class="page-item active">
                    <a class="page-link"> {{ i }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if prijaljeni_izpit.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=prijaljeni_izpit.next_page_number %}">Naprej</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Naprej</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    
{% endblock %}