{% extends 'base.html' %} {% block title %}Vpis{% endblock %} {% block content %} {% load rest_framework %}
{% load studis_extras %}
<h1 class="display-4" style="font-size: 48px;">Spremeni izpitni rok </h1>
<hr>

<div class="container-fluid">
    <form method="post" role="form" id="vpis_form">
        {% csrf_token %}
        <br>
        <br><br>
        <br>
        <h1 class="display-4" style="font-size: 32px;">Podatki izpita</h1>
        <hr>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {{ form.non_field_errors }}
        {% if spremeni == True %}
         <div class="form-group row">
            {{ form.izprasevalec.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.izprasevalec|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.datum.errors}}
        </div>

        <div class="form-group row">
            {{ form.datum.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.datum|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.datum.errors}}
        </div>

        <div class="form-group row">
            {{ form.cas.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.cas|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.cas.errors}}
        </div>

        <div class="form-group row">
            {{ form.prostor.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.prostor|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.prostor.errors}}
        </div>
        {% endif %}
        <div class="form-group row">
            <label class="col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label"></label>
            <div class="col-lg-5 col-sm-10 col-md-10">
                <td><a class="btn btn-primary" role="button" href="nazaj">Nazaj</a></td>
                {% if spremeni == True %}
                <input class="btn btn-primary" type="submit" value="Spremeni izpit" />
                {% endif %}
            </div>
        </div>
    </form>
</div>

{% endblock %}