{% extends 'base.html' %} {% load rest_framework %} {% load studis_extras %} {% load static %} {% block title %} Seznam študentov
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" type="text/css" /> {% endblock %} {% block content %}
<div>
    <h1 class="display-4" style="font-size: 48px;">Pregled vseh študentov</h1>
    <br>
    <div>
        <form method="get" class="form-inline">
            <div class="form-group">
                {{ form.student__vpisna|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.student__first_name|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.student__last_name|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.letnik|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <div class="form-group">
                {{ form.leto_vpisa|add_class:"form-control mb-2 mr-sm-2"}}
            </div>
            <button class="btn btn-outline-primary mb-2 mr-sm-2" type="submit">Filtriraj študente</button>
            <a class="btn btn-outline-primary mb-2 mr-sm-2" href="?">Poenostavi</a>
            <a class="btn btn-outline-secondary mb-2 mr-sm-2" data-toggle="modal" data-target="#uvozStudentovModal" role="button">Uvoz študentov</a>
            <div class="dropdown">
                <button class="btn btn-outline-secondary mb-2 mr-sm-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Izvozi v
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/osebje/students/pdf/?{% url_replace %}">Pdf</a>
                    <a class="dropdown-item" href="/osebje/students/csv/?{% url_replace %}">Excel</a>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Uvoz -->
    <div class="modal fade" id="uvozStudentovModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-4" style="font-size: 32px;">Uvoz sprejetih študentov</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Pošlji post metodo prek form-a ampak obdrži query parametre -> url_replace -->
                    <form method="post" id="uvoz_modal_form" action="?{% url_replace %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="datoteka" required id="id_datoteka" class="file" data-show-preview="false" data-show-upload="false"
                            data-show-remove="false" multiple> {% if error %}
                        <div class="alert alert-danger" style="margin-top: 12px">
                            {{ error }}
                        </div>
                        {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zapri</button>
                    <input class="btn btn-success" type="submit" value="Naloži" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal -->
    <!-- Modal Dodajanja žetona-->
    <div class="modal fade" id="add_zeton_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-4" style="font-size: 32px;">Dodaj žeton</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--  ošlji post metodo prek form-a ampak obdrži query parametre -> url_replace -->
                    <form method="post" id="add_zeton_form" action="?{% url_replace %}" enctype="multipart/form-data">
                        {% csrf_token %} {% for field in form_zeton %} {% if field.name != 'pravica_izbire' %}
                        <div class="form-group">
                            <label for="{{ field.name }}">{{ field.label_tag }}</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                        {% else %}
                        <div class="form-group">
                            <label for="{{ field.name }}" style="display: none;" id="pravicaLabel"> Pravica izbire:</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                        {% endif %} {% endfor %}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Ustvari žeton" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zapri</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal dodajanja žetona-->
    <!-- Modal Response žetona-->
    <div class="modal fade" id="edit_zeton_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="display-4" style="font-size: 32px;">Uredi žeton</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Pošlji post metodo prek form-a ampak obdrži query parametre -> url_replace -->
                    <form id="edit_zeton_form" action="?{% url_replace %}" enctype="multipart/form-data">
                        {% csrf_token %} {% for field in form_zeton %} {% if field.name != 'pravica_izbire' %}
                        <div class="form-group">
                            <label for="{{ field.name }}">{{ field.label_tag }}</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                        {% else %}
                        <div class="form-group">
                            <label for="{{ field.name }}" style="display: none;" id="pravicaLabel"> Pravica izbire:</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                        {% endif %} {% endfor %}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Posodobi žeton" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zapri</button>
                    </form>
                    <form id="deleteZeton">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Zbriši žeton" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="zeton_modal_delete_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Uspeh!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Žeton je bil uspešno zbrisan.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="zeton_modal_delete_failure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Napaka!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Pri brisanju žetona je prišlo do napake.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="zeton_modal_response_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Uspeh!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Žeton je bil uspešno ustvarjen. Študent se lahko sedaj vpiše v letnik.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="zeton_modal_response_failure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Napaka!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Pri ustvarjanju žetona je prišlo do napake.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal response žetona-->
    <div class="modal fade" id="zeton_modal_edit_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Uspeh!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Atributi žetona so bili uspešno spremenjeni.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="zeton_modal_edit_failure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Napaka!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Pri spreminjanju žetona je prišlo do napake.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="student_list_table" class="table table-hover" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 1%">#</th>
                    <th>Ime</th>
                    <th>Priimek</th>
                    <th>Vpisna številka</th>
                    <th>E-mail</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td onclick="window.location.href ='/osebje/students/{{ student.student.id }}'" style="cursor: pointer">{{ forloop.counter0|add:students.start_index}}</td>
                    <td onclick="window.location.href ='/osebje/students/{{ student.student.id }}'" style="cursor: pointer">{{ student.student.first_name }}</td>
                    <td onclick="window.location.href ='/osebje/students/{{ student.student.id }}'" style="cursor: pointer">{{ student.student.last_name }}</td>
                    <td onclick="window.location.href ='/osebje/students/{{ student.student.id }}'" style="cursor: pointer">{{ student.student.vpisna }}</td>
                    <td onclick="window.location.href ='/osebje/students/{{ student.student.id }}'" style="cursor: pointer">{{ student.student.email }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opcije
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% with coin=student.coin_set.all|dictsort:"id"|last %} {% if coin %} {% if coin.used == False %}
                                <a class="dropdown-item" data-id="{{ student.student.id }}" data-toggle="modal" data-target="#edit_zeton_modal" role="button" href="">Uredi žeton</a>
                                {% else %}
                                <a class="dropdown-item" data-id="{{ student.student.id }}" data-toggle="modal" data-target="#add_zeton_modal" role="button" href="">Kreiraj žeton</a>
                                {% endif %} {% else %}
                                <a class="dropdown-item" data-id="{{ student.student.id }}" data-toggle="modal" data-target="#add_zeton_modal" role="button" href="">Kreiraj žeton</a>
                                {% endif %} {% endwith %}
                                <a class="dropdown-item" href="/osebje/students/csv/{{ student.student.id }}">Izvozi v Excel</a>
                                <a class="dropdown-item" href="/osebje/students/pdf/?{% url_replace  %}{{ student.student.id }}/?download=true">Izvozi v pdf</a>
                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item" href="{% url 'kartoteka' student.student.id %}?studijsko_leto=0&polaganja=0">Kartotečni list</a>
                                <a class="dropdown-item" href="{% url 'elektronski_indeks' student.student.id %}?">Elektronski indeks</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="">
        {% if students.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if students.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=students.previous_page_number %}">Nazaj</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Nazaj</a>
                </li>
                {% endif %} {% for i in students.paginator.page_range %} {% if students.number == i %}
                <li class="page-item active">
                    <a class="page-link"> {{ i }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=i %}"> {{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if students.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=students.next_page_number %}">Naprej</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Naprej</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>


{% if error %}
<script>
    $(document).ready(function () {
        $("#uvozStudentovModal").modal("show");
    });
</script> {% endif %}

<script src="{% static 'js/fileinput.min.js' %}"></script> {% endblock %}