{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Podrobnosti študent {% endblock %}
{% block content %}

    <h1 class="display-4" style="font-size: 48px;">Podatki o študentu {% if request.user|has_group:"student" %}
        <button type="button" class=" btn btn-primary btn-xs" onclick="window.location.href = '/student/account/pdf/{{ student.id }}/?download=true'">Izvozi v pdf</button>
        <button type="button" class=" btn btn-primary btn-xs" onclick="window.location.href = '/student/account/csv/{{ student.id }}/'">Izvozi v excel</button>
    {% endif %}
    {% if je %}
        <button type="button" class=" btn btn-primary btn-xs" onclick="window.location.href = '/vpis/students/'">Vpis</button>
    {% endif %}
    </h1>
<hr>
<br>
<div class="container-fluid">
    <h1 class="display-4" style="font-size: 32px;">Splošni podatki</h1>
    <br>
    <table class="table table-hover" style="max-width:40%">
        <tbody>    
            <tr>
                <td> <h6>Ime</h6></td>
                <td> <h6>{{ student.first_name }}</h6></td>
            </tr>
            <tr>
                <td> <h6>Priimek</h6></td>
                <td> <h6>{{ student.last_name }}</h6></td>
            </tr>
            <tr>
                <td> <h6>Vpisna številka</h6></td>
                <td> <h6>{{ student.vpisna }}</h6></td>
            </tr>
            <tr>
                <td> <h6>Univerzitetni e-mail</h6></td>
                <td> <h6>{{ student.email }}</h6></td>
            </tr>
            <tr>
                <td> <h6>Tel. številka</h6></td>
                <td> <h6>{{ student.tel }}</h6></td>
            </tr>
            <tr>
                <td> <h6>Osebni e-mail</h6></td>
                <td> <h6>{{ student.osebni_email }}</h6></td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <h1 class="display-4" style="font-size: 32px;">Naslov stalnega bivališča</h1>
            <br>    
            <table class="table table-hover" style="max-width:70%">
                <tbody>
                    <tr>
                        <td> <h6>Država</h6></td>
                        <td> <h6>{{ student.posta_naslov.drzava }}</h6></td>
                    </tr>
                    <tr>
                        <td> <h6>Ulica</h6></td>
                        <td> <h6> {{ student.ulica_naslov }}</h6></td>
                    </tr>
                    <tr>
                        <td> <h6>Pošta</h6></td>
                        <td> <h6>{{ student.posta_naslov.postna_stevilka }}</h6></td>
                    </tr>
                    <tr>
                        <td> <h6>Kraj</h6></td>
                        <td> <h6>{{ student.posta_naslov.kraj }}</h6></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h1 class="display-4" style="font-size: 32px;">Naslov za dostavo pošte</h1>
            <br>
            <table class="table table-hover" style="max-width:50%">
                <tbody>
                    <tr>
                        <td> <h6>Država</h6></td>
                        <td> <h6>{{ student.drzava_prejem }}</h6></td>
                    </tr>
                    <tr>
                        <td> <h6>Ulica</h6></td>
                        <td> <h6>{{ student.ulica_prejem }}</h6></td>
                    </tr>
                                        <tr>
                        <td> <h6>Pošta</h6></td>
                        <td> <h6>{{ student.posta_prejem.postna_stevilka}}</h6></td>
                    </tr>
                    <tr>
                            <td> <h6>Kraj</h6></td>
                            <td> <h6>{{ student.posta_prejem.kraj }}</h6></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <br>
            <h1 class="display-4" style="font-size: 32px;">Podatki o vpisih</h1>
            <table class="table table-hover" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Študijsko leto</th>
                        <TH>Letnik</TH>
                        <th>Študijski program</th>
                        <th>Vrsta vpisa</th>
                        <th>Način študija</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for vpis in vpisi %}
                        {% if vpis.potrjen == True %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ vpis.leto_vpisa.studijsko_leto }}</td>
                                <td>{{ vpis.letnik }}</td>
                                <td>{{ vpis.smer.sifra }} - {{ vpis.smer.ime }}</td>
                                <td>{{ vpis.vrsta.sifra }} - {{ vpis.vrsta.vrsta }}</td>
                                <td>{{ vpis.tip.sifra }} - {{ vpis.tip.nacin }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}