<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>

    <h1 class="display-4" style="font-size: 24px;" align="center">Fakulteta za računalništvo in informatiko</h1>
    <h2 class="display-4" style="font-size: 16px;" align="center">Podatki o študentu</h2>
    <p>Datum izpisa: {{ datum }}</p>
    <hr>
    <br>

    <div>
        <table id="student_list_table" class="table table-hover" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Ime</th>
                    <th>Vpisna številka</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                    <td>{{ student.vpisna }}</td>
                    <td>{{ student.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>