<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        .header_content{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="header_content">Fakulteta za računalništvo in informatiko</div>
<h1 class="display-4" style="font-size: 16px;" align="center">Podatki o študentu - {{ student.vpisna }}</h1>

    <p>Datum izpisa: {{ datum }}</p>
    <hr>
<br>

<div class="container-fluid">
    <h1 class="display-4" style="font-size: 16px;">Splošni podatki</h1>
    <br>
    <table class="table table-hover" style="max-width:40%">
        <tbody>
            <tr>
                <td> <h6>Ime</h6></td>
                <td> {{ student.first_name }} </td>
            </tr>
            <tr>
                <td> <h6>Priimek</h6></td>
                <td> {{ student.last_name }} </td>
            </tr>
            <tr>
                <td> <h6>Vpisna številka</h6></td>
                <td> {{ student.vpisna }}</td>
            </tr>
            <tr>
                <td> <h6>Univerzitetni e-mail</h6></td>
                <td> {{ student.email }} </td>
            </tr>
            <tr>
                <td> <h6>Tel. številka</h6></td>
                <td> {{ student.tel }} </td>
            </tr>
            <tr>
                <td> <h6>Osebni e-mail</h6></td>
                <td> {{ student.osebni_email }} </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <h1 class="display-4" style="font-size: 16px;">Naslov stalnega bivališča</h1>
            <br>
            <table class="table table-hover" style="max-width:70%">
                <tbody>
                    <tr>
                        <td> <h6>Država</h6></td>
                        <td> {{ student.posta_naslov.drzava }}</td>
                    </tr>
                    <tr>
                        <td> <h6>Ulica</h6></td>
                        <td> {{ student.ulica_naslov }}</td>
                    </tr>
                    <tr>
                        <td> <h6>Pošta</h6></td>
                        <td> {{ student.posta_naslov.postna_stevilka }}</td>
                    </tr>
                    <tr>
                        <td> <h6>Kraj</h6></td>
                        <td> {{ student.posta_naslov.kraj }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h1 class="display-4" style="font-size: 16px;">Naslov za dostavo pošte</h1>
            <br>
            <table class="table table-hover" style="max-width:50%">
                <tbody>
                    <tr>
                        <td> <h6>Država</h6></td>
                        <td> {{ student.posta_prejem.drzava }}</td>
                    </tr>
                    <tr>
                        <td> <h6>Ulica</h6></td>
                        <td> {{ student.ulica_prejem }}</td>
                    </tr>
                    <tr>
                        <td> <h6>Pošta</h6></td>
                        <td> {{ student.posta_prejem.postna_stevilka }}</td>
                    </tr>
                    <tr>
                        <td> <h6>Kraj</h6></td>
                        <td> {{ student.posta_prejem.kraj }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <br>
            <h1 class="display-4" style="font-size: 16px;">Podatki o vpisih</h1>
            <table class="table table-hover" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Študijsko leto</th>
                        <TH>Letnik </TH>
                        <th>Študijski program</th>
                        <th>Vrsta vpisa</th>
                        <th>Način študija</th>

                    </tr>
                </thead>
                <tbody>
                    {% for vpis in vpisi %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ vpis.leto_vpisa.studijsko_leto }}</td>
                        <td>{{ vpis.letnik }}</td>
                        <td>{{ vpis.smer.sifra }} - {{ vpis.smer.ime }}</td>
                        <td>{{ vpis.vrsta.sifra }} - {{ vpis.vrsta.vrsta }}</td>
                        <td>{{ vpis.tip.sifra }} - {{ vpis.tip.nacin }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
