{% extends 'base.html' %} {% block title %}Vpis{% endblock %} {% block content %} {% load rest_framework %}
{% load studis_extras %}
<h1 class="display-4" style="font-size: 48px;">Vpisni list </h1>
<hr>
<br>
<div class="container-fluid">
    <form method="post" role="form" id="vpis_form">
        {% csrf_token %}

        <br>
        <h1 class="display-4" style="font-size: 32px;">Univerzitetni podatki</h1>
        <hr>
        <br>
        <div class="form-group row">
            {{ form.vpisna.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.vpisna|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.vpisna.errors}}
        </div>

        <div class="form-group row">
            {{ form.email.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.email|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.email.errors}}
        </div>

        <br>
        <h1 class="display-4" style="font-size: 32px;">Osebni podatki</h1>
        <hr>
        <br>

        <div class="form-group row">
            {{ form.first_name.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.first_name.value %}
                   {{ form.first_name|add_readonly:"form-control" }} 
                {% else %}
                    {{ form.first_name|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.first_name.errors}}
        </div>

        <div class="form-group row">
            {{ form.last_name.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.last_name.value %}
                    {{ form.last_name|add_readonly:"form-control" }} 
                {% else %}
                    {{ form.last_name|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.last_name.errors}}
        </div>
        

        <div class="form-group row">
            {{ form.datum_rojstva.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.datum_rojstva.value %}
                    {{ form.datum_rojstva|add_readonly:"form-control" }} 
                {% else %}
                    {{ form.datum_rojstva|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.datum_rojstva.errors}}
        </div>

        <div class="form-group row">
            {{ form.kraj_rojstva.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.kraj_rojstva.value %}
                    {{ form.kraj_rojstva|add_readonly:"form-control" }}
                {% else %}
                    {{ form.kraj_rojstva|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.kraj_rojstva.errors}}
        </div>

        <div class="form-group row">
            {{ form.drzava.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.drzava.value %}
                    {{ form.drzava|add_readonly:"form-control" }}
                {% else %}
                    {{ form.drzava|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.drzava_rojstva.errors}}
        </div>

        <div class="form-group row">
            {{ form.obcina_rojstva.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.obcina_rojstva.value %}
                    {{ form.obcina_rojstva|add_readonly:"form-control" }}
                {% else %}
                    {{ form.obcina_rojstva|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.obcina_rojstva.errors}}
        </div>

        <div class="form-group row">
            {{ form.drzavljanstvo.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.drzavljanstvo.value %}
                    {{ form.drzavljanstvo|add_readonly:"form-control" }}
                {% else %}
                    {{ form.drzavljanstvo|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.drzavljanstvo.errors}}
        </div>

        <div class="form-group row">
            {{ form.spol.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.spol.value %}
                   {{ form.spol|add_readonly:"form-control" }}
                {% else %}
                    {{ form.spol|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.spol.errors}}
        </div>

        <div class="form-group row">
            {{ form.emso.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {% if form.emso.value %}
                    {{ form.emso|add_readonly:"form-control" }}
                {% else %}
                    {{ form.emso|add_class:"form-control" }}
                {% endif %}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.emso.errors}}
        </div>

       <div class="form-group row">
            {{ form.osebni_email.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.osebni_email|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.osebni_email.errors}}
        </div>

        <div class="form-group row">
            {{ form.tel.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.tel|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.tel.errors}}
        </div>


        <br>
        <h1 class="display-4" style="font-size: 32px;">Stalno prebivališče</h1>
        <hr>
        <br>

        <div class="form-group row">
            <label class="col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label">Naslov za vročanje</label>
            <div class="col-lg-5 col-sm-10 col-md-10 form-control">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="vrocanje" value="1" id="id_vrocanje_0" checked>
                    <label class="form-check-label" for="id_vrocanje_0">
                        Stalno prebivališče
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="vrocanje" value="2" id="id_vrocanje_1">
                    <label class="form-check-label" for="id_vrocanje_1">
                        Začasno prebivališče
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            {{ form.drzava_naslov.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.drzava_naslov|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.drzava_naslov.errors}}
        </div>

        <div class="form-group row">
            {{ form.ulica_naslov.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.ulica_naslov|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.ulica_naslov.errors}}
        </div>

        <div class="form-group row">
            {{ form.posta_naslov.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.posta_naslov|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.posta_naslov.errors}}
        </div>


        <div class="form-group row">
            {{ form.obcina_naslov.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.obcina_naslov|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.obcina_naslov.errors}}
        </div>


        <br>
        <h1 class="display-4" style="font-size: 32px;">Začasno prebivališče</h1>
        <hr>
        <br>

        <div class="form-group row">
            {{ form.drzava_prejem.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.drzava_prejem|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.drzava_prejem.errors}}
        </div>

        <div class="form-group row">
            {{ form.ulica_prejem.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.ulica_prejem|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.ulica_prejem.errors}}
        </div>

        <div class="form-group row">
            {{ form.posta_prejem.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.posta_prejem|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.posta_prejem.errors}}
        </div>

        <div class="form-group row">
            {{ form.obcina_prejem.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.obcina_prejem|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.obcina_prejem.errors}}
        </div>

        <br>
        <h1 class="display-4" style="font-size: 32px;">Podatki o vpisu</h1>
        <hr>
        <br>

        <div class="form-group row">
            {{ form.studijski_program.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.studijski_program|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.studijski_program.errors}}
        </div>

        <div class="form-group row">
            {{ form.kraj_izvajanja.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.kraj_izvajanja|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.kraj_izvajanja.errors}}
        </div>

        <div class="form-group row">
            {{ form.vrsta_vpisa.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.vrsta_vpisa|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.vrsta_vpisa.errors}}
        </div>

        <div class="form-group row">
            {{ form.letnik_studija.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.letnik_studija|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.letnik_studija.errors}}
        </div>

        <div class="form-group row">
            {{ form.nacin_studija.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.nacin_studija|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.nacin_studija.errors}}
        </div>

        <div class="form-group row">
            {{ form.oblika_studija.label_tag|add_class:"col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label" }}
            <div class="col-lg-5 col-sm-10 col-md-10">
                {{ form.oblika_studija|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group has-errors text-danger small">
            {{form.oblika_studija.errors}}
        </div>
 
        <div class="form-group row">
            <label class="col-lg-2 col-sm-3 col-md-3 col-form-label form-control-label"></label>
            <div class="col-lg-5 col-sm-10 col-md-10">
                <input type="reset" class="btn btn-secondary" value="Cancel">
                <input class="btn btn-primary" type="submit" value="Naprej na izbiro predmetov" />
            </div>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            $('input[readonly],select[readonly]').prop('disabled',true);

            $('#vpis_form').submit(function () {
                $('input[readonly],select[readonly]').prop('disabled',false);
                return true;
            });

            function toggleObcinaPosta(element) {
                var drzava= $(element).find(":selected").text();
                var is_rojstvo = $(element).attr('id') == "id_drzava"
                if(is_rojstvo) {
                    var obcinaSibling = $(element).closest('div .row').nextAll().filter('div .row')[0];
                } else {
                    var obcinaSibling = $(element).closest('div .row').nextAll().filter('div .row')[1];
                var postaSibling = $(element).closest('div .row').nextAll().filter('div .row')[2];
                }
                if (!drzava.includes('Slovenija')) {
                    $(obcinaSibling).hide();
                    if(!is_rojstvo) $(postaSibling).hide();
                } else {
                    $(obcinaSibling).show();
                    if(!is_rojstvo) $(postaSibling).show();
                }
            }  
            toggleObcinaPosta('#id_drzava_naslov');
            toggleObcinaPosta('#id_drzava_prejem');
            toggleObcinaPosta('#id_drzava');
            $('#id_drzava_naslov,#id_drzava_prejem,#id_drzava').change(function() { 
                toggleObcinaPosta(this);
            });


            function toggleVrocanje(element) {
                if($(element).prop("checked")) {
                    if($(element).val() == "2") {
                        $('#id_drzava_prejem').prop('required',true);
                        $('#id_ulica_prejem').prop('required',true);
                    } else {
                        $('#id_drzava_prejem').prop('required',false);
                        $('#id_ulica_prejem').prop('required',false);
                    }
                }
            }  
            toggleVrocanje('#id_vrocanje_0');
            toggleVrocanje('#id_vrocanje_1');
            $("#id_vrocanje_0,#id_vrocanje_1").click(function () {
                toggleVrocanje(this);
            });
        });
    </script>
</div>

{% endblock %}