{% extends 'base.html' %}
    {% block title %}Vpis{% endblock %}
    {% block content %}
        {% load rest_framework %}
        {% load mathfilters %}
    <div class="container container-fluid">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card" id="pregled_card">
                <div class="card-header">
                  <h3 class="mb-0">Vpisni list - izbira predmetov</h3>
                </div>
                <div>
                    {% if errors %}
                        <ul class="list-group">
                            {% for error in errors %}
                                <li class="list-group-item list-group-item-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                  <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if letnik == 1 and vrsta == "01" %}
                            {% for field in form %}
                                {% if field.field.choices %}
                                    <div class="form-group">
                                            <!--Checkbox butons-->
                                            <label for="{{ field.name }}" ><b>{{ field.label_tag }}</b></label>
                                            <br>
                                            <div class="container">
                                                <div class="mr-4" id="{{ field.id_for_label }}">
                                                       {% for choice in field %}
                                                           <div class = "row">
                                                                <label class="mt-2" for="{{ choice.id_for_label }}">
                                                                    <input name="{{ choice.data.name }}" value="{{ choice.data.value }}" id="{{ choice.data.id }}" type="hidden" autocomplete="off"> {{ choice.choice_label }}
                                                                </label>
                                                            </div>
                                                       {% endfor %}
                                                </div>
                                            </div>
                                     </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for field in form %}
                                {% if field.field.choices and field.label != "Neopravljeni splosni predmet" and field.label != "Neopravljeni modulski predmet" and field.label != "Neopravljeni strokovno izbirni" and field.label != "Neopravljeni splosno izbirni" %}
                                    <div class="form-group">
                                        <!--Checkbox butons-->
                                        <label for="{{ field.name }}" ><b>{{ field.label_tag }}</b></label>
                                        <br>
                                        <div class="container">
                                            <div class="btn-group mr-4" data-toggle="buttons" id="{{ field.id_for_label }}">
                                            <div class = "row">
                                               <div class="col-xs-12 col-sm-12 col-lg-12 text-left">
                                                   {% for choice in field %}
                                                        <label class="btn btn-primary form-check-label mt-2" for="{{ choice.id_for_label }}">
                                                            <input name="{{ choice.data.name }}" value="{{ choice.data.value }}" id="{{ choice.data.id }}" type="checkbox" class="form-check-input" autocomplete="off"> {{ choice.choice_label }}
                                                        </label>
                                                   {% endfor %}
                                               </div>
                                            </div>


                                            </div>
                                        </div>


                                        <!-- {{ field|add_class:"form-control login_input"|default_if_none:"" }} -->
                                    </div>
                                    <div class="form-group has-errors text-danger small">
                                        {{field.errors}}
                                    </div>
                                {% elif field.field.choices %}
                                    <div class="form-group">
                                        <label for="{{ field.name }}" ><b>{{ field.label_tag }}</b></label>
                                        <br>
                                        <div class="btn-group mr-4" data-toggle="buttons" id="{{ field.id_for_label }}">
                                            <div class = "row">
                                               <div class="col-xs-12 col-sm-12 col-lg-12 text-left">
                                                {% for choice in field %}
                                                    <label class="btn btn-primary form-check-label mt-2" for="{{ choice.id_for_label }}">
                                                        <input name="{{ choice.data.name }}" value="{{ choice.data.value }}" id="{{ choice.data.id }}" type="checkbox" class="form-check-input" autocomplete="off" checked disabled> {{ choice.choice_label }}
                                                    </label>
                                                    {% if forloop.counter|mod:3 == 0 %}

                                                    {% endif %}
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <input class="btn btn-primary" type="submit" value="Pošlji" />
                    </form>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}