{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Predmet List {% endblock %}

{% block content %}
<style>
.rdec {background-color: #f44336;}
</style>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

<div class="container-fluid">
    <h3>Pregled vseh predmetov</h3>
    <div>
        <table class="table table-hover" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Šifra</th>
                    <th>Naslov predmeta</th>
                    <th>Ocena</th>
                </tr>

            </thead>
            <tbody>
                {% for predmet in predmeti  %}

                    <tr>
                        <td>{{ predmet.predmet.predmet.sifra }}</td>
                        <td>{{ predmet.predmet}}</td>
                        {% if predmet.ocena  %}<td>{{ predmet.ocena }}</td>{% else %}<td></td>{% endif %}
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    <h3>Razpisani izpitni roki</h3>
        <table class="table table-hover" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Letnik</th>
                    <th>Predmet</th>
                    <th>Izvajalec</th>
                    <th>Datum</th>
                    <th>Prijava/Odjava</th>
                </tr>

            </thead>
            <tbody>
                {% for izpit in izpiti %}
                    <tr>
                        {% for evi in evidenca %}
                            {% if evi.predmet == izpit.predmet %}
                                <td>{{ evi.letnik_predmeta }}</td>
                                {{ "<!--" }}
                            {% endif %}
                        {% endfor %}
                        {{ "-->" }}
                        <td>{{ izpit.predmet }} </td>
                        <td>{{ izpit.predmet.profesor.first_name }} {{ izpit.predmet.profesor.last_name }} </td>
                        <td>{{ izpit.datum|date:"d.m.Y" }}</td>
                        <td>
                            {% if izpit in prijavljen %}
                                    <a class="btn btn-primary rdec" color="red" href="{% url 'OdjaviIzpit' izpit.id%}">Odjavi</a>
                            {% else %}
                                {% if izpit.predmet in blokiraj %}
                                    <a class="btn btn-primary disabled"  href="{% url 'PrijaviIzpit' izpit.id%}">Prijavi</a>
                                {% else %}
                                    <a class="btn btn-primary" href="{% url 'PrijaviIzpit' izpit.id%}">Prijavi</a>
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
    <script>
        if (message > 0){
            alert('{{ message }}');
        }
    </script>
{% endblock %}