{% extends 'base.html' %}
{% load rest_framework %}
{% load studis_extras %}
{% block title %} Naročilo potrdila o vpisu {% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3>Naročilo potrdila o vpisu</h3>
        <div class="col-md-12 text-center">
            <form action="/student/naroci/potrdilo/" method="post">
                {% csrf_token %}
                <table class="table table-hover col-md-6" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Vrsta vpisa</th>
                            <th>Število potrdil</th>
                            <th>Pošlji</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr>
                            {% if vrsta is not None %}
                                <td>{{ vrsta }}</td>
                            {% else %}
                                <td>Ni vpisa</td>
                            {% endif %}
                            <td><select name="stevilo" id="id_stevilo" class="form-control">
                              <option value="1">1</option>

                              <option value="2">2</option>

                              <option value="3">3</option>

                              <option value="4">4</option>

                              <option value="5">5</option>

                              <option value="6">6</option>

                            </select></td>
                            <td>
                                {% if omogoci is True and vrsta is not None %}
                                    <input class="btn btn-primary" type="submit" value="Dodaj" />
                                {% else %}
                                    <input disabled class="btn btn-primary" type="submit" value="Dodaj" />
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}