{% extends 'base.html' %}
    {% block title %}Pregled{% endblock %}
    {% block content %}
        {% load rest_framework %}
        <div class="container py-5">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card" id="pregled_card">
                <div class="card-header">
                  <h3 class="mb-0">Pregled študenta: {{ students.first_name }} {{ students.last_name }}</h3>
                </div>
                  <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != "vpisna" and field.name != "email" %}
                                <div class="form-group">
                                    <label for="{{ field.name }}" ><b>{{ field.label_tag }}</b></label>
                                    {{ field|add_class:"form-control login_input" }}
                                </div>
                                <div class="form-group has-errors text-danger small">
                                    {{field.errors}}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}